<!-----footer----->
<div class="footer">
  <div class="container-fluid">
    <div class="map">

    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <div class="copyright-section">
      <div class="row">
        <div class="col-md-12">
          <p >Made in UA © 2017 ngMates</p>
        </div>
      </div>
    </div>
  </div>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
