<!--&lt;!&ndash;-&#45;&#45;header-section&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<div class="header-section">-->
  <!--<div id="home" class="header">-->
    <!--<div class="container">-->
      <!--<div class="top-header">-->
        <!--<div class="logo">-->
          <!--<a href="#"><img src="../assets/images/logo.png" title="logo" /></a>-->
        <!--</div>-->
        <!--&lt;!&ndash;&#45;&#45;start-top-nav&#45;&#45;&ndash;&gt;-->
        <!--<nav class="top-nav">-->
          <!--<ul class="top-nav">-->
            <!--<li class="active"><a href="#home" class="scroll">Home </a></li>-->
            <!--<li class="page-scroll"><a href="#news" class="scroll">News</a></li>-->
            <!--<li class="page-scroll"><a href="#portfolio" class="scroll">Portfolio</a></li>-->
            <!--<li class="page-scroll"><a href="#about" class="scroll">About </a></li>-->
            <!--<li class="contatct-active" class="page-scroll"><a href="#contact" class="scroll">Contact</a></li>-->
          <!--</ul>-->
          <!--<a href="#" id="pull"><img src="../assets/images/nav-icon.png" title="menu"/></a>-->
        <!--</nav>-->
        <!--<div class="clearfix"> </div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="parallax"></div>-->
<!--</div>-->
<!--&lt;!&ndash;-&#45;&#45;//header-section-&#45;&#45;&ndash;&gt;-->

<!-- Start Header Section -->
<header class="clearfix fixed-header">

  <!-- Start  Logo & Naviagtion  -->
  <div id="navigation" class="navbar navbar-default navbar-top" role="navigation" data-spy="affix" data-offset-top="50">
    <div class="container">
      <div class="navbar-header">
        <!-- Stat Toggle Nav Link For Mobiles -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <!--<i class="fa fa-bars"></i>-->
          <img src="../assets/images/nav-icon.png" title="menu"/>
        </button>
        <!-- End Toggle Nav Link For Mobiles -->
        <a class="navbar-brand" href="#">
          <img alt="logo" src="../assets/images/logo.png">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <!-- Start Navigation List -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#home" class="scroll active">Home</a>
          </li>
          <li class="page-scroll">
            <a href="#news" class="scroll">News</a>
          </li>
          <li class="page-scroll">
            <a href="#portfolio" class="scroll">Portfolio</a>
          </li>
          <li class="page-scroll">
            <a href="#about" class="scroll">About</a>
          </li>
          <li class="page-scroll">
            <a href="#contact" class="scroll">Contact</a>
          </li>
        </ul>
        <!-- End Navigation List -->
      </div>
      <!--<div class="clearfix"> </div>-->

    </div>

  </div>
  <!--End Header Logo & Naviagtion -->



  <div class="parallax">
    <div class="index-photography-footer">
      <div class="footer-wrapper">
        <h3>
          Let's get in touch
        </h3>
        <form>
          <div class="form-group">
            <label>Your name:</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-group">
            <label>Your email:</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-group">
            <label>Tell me more about what you're looking for:</label>
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <div class="form-actions">
            <input class="btn-shadow btn-shadow-primary" type="submit" value="Send message">
          </div>
        </form>
      </div>
      <div class="social">
        <a href="#">
          <i class="ion-social-twitter"></i>
        </a>
        <a href="#">
          <i class="ion-social-facebook"></i>
        </a>
        <a href="#">
          <i class="ion-social-instagram-outline"></i>
        </a>
        <a href="#">
          <i class="ion-social-whatsapp-outline"></i>
        </a>
        <a href="#">
          <i class="ion-social-skype"></i>
        </a>
      </div>
    </div>
  </div>


</header>
<!-- End Header Section -->

