<app-nav></app-nav>
<!----news section----->
<div id="news">
  <div class="agency-from-the-blog">
    <div class="container">
      <div class="section-head text-center">
        <h3><span class="frist"> </span>NEWS<span class="second"> </span></h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
</div>
      <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="blog-post.html" class="post">
            <div class="post-wrapper">
              <div class="post-bg" style="background-image: url('../assets/images/post-img-1.jpg');">
              </div>
              <div class="post-intro">
                <div class="post-title">
                  New landscapes
                </div>
                <div class="post-min-read">
                  3 min read
                </div>
                <p class="post-description">
                  Spacial has both a web app and an android app to make your website easy and always available.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="blog-post.html" class="post">
            <div class="post-wrapper">
              <div class="post-bg" style="background-image: url('../assets/images/post-img-2.jpg');">
              </div>
              <div class="post-intro">
                <div class="post-title">
                  New landscapes
                </div>
                <div class="post-min-read">
                  3 min read
                </div>
                <p class="post-description">
                  Spacial has both a web app and an android app to make your website easy and always available.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="blog-post.html" class="post">
            <div class="post-wrapper">
              <div class="post-bg" style="background-image: url('../assets/images/post-img-3.jpg');">
              </div>
              <div class="post-intro">
                <div class="post-title">
                  New landscapes
                </div>
                <div class="post-min-read">
                  3 min read
                </div>
                <p class="post-description">
                  Spacial has both a web app and an android app to make your website easy and always available.
                </p>
              </div>
            </div>
          </a>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="blog-post.html" class="post">
            <div class="post-wrapper">
              <div class="post-bg" style="background-image: url('../assets/images/post-img-3.jpg');">
              </div>
              <div class="post-intro">
                <div class="post-title">
                  New landscapes
                </div>
                <div class="post-min-read">
                  3 min read
                </div>
                <p class="post-description">
                  Spacial has both a web app and an android app to make your website easy and always available.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="blog-post.html" class="post">
            <div class="post-wrapper">
              <div class="post-bg" style="background-image: url('../assets/images/post-img-2.jpg');">
              </div>
              <div class="post-intro">
                <div class="post-title">
                  New landscapes
                </div>
                <div class="post-min-read">
                  3 min read
                </div>
                <p class="post-description">
                  Spacial has both a web app and an android app to make your website easy and always available.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="blog-post.html" class="post">
            <div class="post-wrapper">
              <div class="post-bg" style="background-image: url('../assets/images/post-img-1.jpg');">
              </div>
              <div class="post-intro">
                <div class="post-title">
                  New landscapes
                </div>
                <div class="post-min-read">
                  3 min read
                </div>
                <p class="post-description">
                  Spacial has both a web app and an android app to make your website easy and always available.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
    </div>
  <!----//news section----->
  <!-----ABOUT----->
  <div class="business-single-client">
    <div class="quote-wrapper">
      <img src="../assets/images/logo-customer.png" class="logo">
      <p>
        "Focus on creating and growing your projects and websites, and we‘ll take care of spinning up new designs for your users and making sure they’re great. Work with all types of customers right out of the box while still getting great results in your environment."
      </p>
      <div class="author">
        John Smith, Product Designer
      </div>
    </div>
  </div>

  <!-----//ABOUT----->
  <!----portfolio---->
  <div id="portfolio" class="agency-portfolio">
    <div class="container">
      <div class="section-head text-center">
        <h3><span class="frist"> </span>PORTFOLIO<span class="second"> </span></h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>Landscape Trip</h3>
                <p>
                  Blog About spacial trips
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span style="background-image:url('../assets/images/post-img-3.jpg');" class="pic">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>Mobile Analytics</h3>
                <p>
                  iOS mobile app for charts and stuff
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span style="background-image:url('../assets/images/post-img-3.jpg');" class="pic">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>New client website</h3>
                <p>
                  International business site
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span style="background-image:url('../assets/images/post-img-3.jpg');" class="pic">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>Health App</h3>
                <p>
                  Keep track of your health
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span style="background-image:url('../assets/images/post-img-3.jpg');" class="pic">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>PSD Freebie</h3>
                <p>
                  Free presentation mockups
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span style="background-image:url('../assets/images/post-img-3.jpg');" class="pic">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>Grid Blog</h3>
                <p>
                  Portfolio grid blog
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span style="background-image:url('../assets/images/post-img-3.jpg');" class="pic">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>App Icon</h3>
                <p>
                  New mobile app icon for fighters
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span style="background-image:url('../assets/images/post-img-3.jpg');" class="pic">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>Portfolio showcase</h3>
                <p>
                  Grid-based site for work
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span style="background-image:url('../assets/images/post-img-3.jpg');" class="pic">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>App Food Icon</h3>
                <p>
                  New icon for food mobile app
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span style="background-image:url('../assets/images/post-img-3.jpg');" class="pic">
            </span>
          </a>
        </div>
      </div>
      <!----//portfolio---->

    </div>
  </div>

  <!----testimonal----->
  <div class="test-monials text-center">
    <div class="container">
      <span><img src="../assets/images/icon1.png" title="quit"/></span>

      <h1>testimonal</h1>

    </div>
  </div>
  <!----//testimonal----->


  <!----team---->
  <div id="about" class="team services">
    <div class="container">
      <div class="section-head text-center">
        <h3><span class="frist"> </span>SERVICES<span class="second"> </span></h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
      </div>
      <!----team-members---->
      <div class="row">
        <div class="col-md-4 col-sm-4 team-item">
          <a href="#" class="img-bg" style="background-image: url('../assets/images/services-item-1.jpg');">
            <p>
              Venice

              <span>
                Italy
              </span>
            </p>
          </a>
        </div>
        <div class="col-md-4 col-sm-4 team-item">
          <a href="#" class="img-bg" style="background-image: url('../assets/images/services-item-2.jpg');">
            <p>
              Dublin

              <span>
                Ireland
              </span>
            </p>
          </a>
        </div>
        <div class="col-md-4 col-sm-4 team-item">
          <a href="#" class="img-bg" style="background-image: url('../assets/images/services-item-3.jpg');">
            <p>
              Munich

              <span>
                Germany
              </span>
            </p>
          </a>
        </div>

        <div class="clearfix"> </div>
        <!--//team-members---->
      </div>
    </div>

  </div>
  <!----//team---->
  <div class="clearfix"> </div>


  <!-----getintouch----->
  <div id="contact" class="getintouch">
    <!--<div class="index-photography-footer">-->
      <!--<div class="footer-wrapper">-->
        <!--<h3>-->
          <!--Let's get in touch-->
        <!--</h3>-->
        <!--<form>-->
          <!--<div class="form-group">-->
            <!--<label>Your name:</label>-->
            <!--<input class="form-control" type="text">-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label>Your email:</label>-->
            <!--<input class="form-control" type="text">-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label>Tell me more about what you're looking for:</label>-->
            <!--<textarea class="form-control" rows="3"></textarea>-->
          <!--</div>-->
          <!--<div class="form-actions">-->
            <!--<input class="btn-shadow btn-shadow-primary" type="submit" value="Send message">-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
      <!--<div class="social">-->
        <!--<a href="#">-->
          <!--<i class="ion-social-twitter"></i>-->
        <!--</a>-->
        <!--<a href="#">-->
          <!--<i class="ion-social-facebook"></i>-->
        <!--</a>-->
        <!--<a href="#">-->
          <!--<i class="ion-social-instagram-outline"></i>-->
        <!--</a>-->
        <!--<a href="#">-->
          <!--<i class="ion-social-whatsapp-outline"></i>-->
        <!--</a>-->
        <!--<a href="#">-->
          <!--<i class="ion-social-skype"></i>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->

  </div>
  <!---//getintouch----->
  <app-home></app-home>
<app-footer></app-footer>
</div>
