<div class="container">
  <div class="row">
    <div class="section-head text-center">
      <h3>CONTACTS</h3>
      <p>Have questions? Contact us</p>

      <div class="col-sm-8 col-md-8 col-lg-8 google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.0087150278828!2d24.02898071553177!3d49.86108093753627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add0733d41999%3A0x3e38dbba6dae681c!2z0LLRg9C70LjRhtGPINCS0LXRgdC90Y_QvdCwLCA0LCDQm9GM0LLRltCyLCDQm9GM0LLRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1suk!2sua!4v1507714828738" width="600" height="450" frameborder="0" style="border:0"></iframe>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 contacts">
        <p style="text-align: center;"><strong>TOOLMEX TRUCK Sp. z o.o.</strong>
          <br>ul. Metalowa 7B, 26-500 Szydłowiec<br>tel. 048 617-48-06<br>e-mail: toolmex-truck@home.pl</p>
      </div>
    </div>
  </div>
</div>
